
/* global style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
}
.global-padding{
    padding: 60px 90px;
}
.global-color{
    color: orange;
}
.normal-btn{
    
    padding: 10px 20px;
    background-image:linear-gradient(to left,#f59a08e5,#f16508ed);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;

}

/* header section start */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .header-desc{
    width: 50%;
    padding: 0px 20px;
    
}
.header .header-desc .header-title{
    border-left: 5px solid;
    border-image:linear-gradient(#f59a08e5,#f16508ed);
    border-image-slice: 1;
    padding-left: 7px;
}
.header .header-desc h1{
    font-size: 37px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.header .header-desc p{
    padding: 17px 0px;
    line-height: 27px;
}
.header .header-desc a{
    display:inline-block;
    text-decoration: none;
    margin: 8px 0px;
}
.header .header-desc small{
    display: block;
    padding-top: 15px;
}
.header .img-div{
    width: 50%;
    padding: 0px 0px 0px 20px;
    
}
.header .img-div img{
    width: 100%;
}
