
/* global style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
}
.global-padding{
    padding: 60px 90px;
}
.global-color{
    color: orange;
}
.normal-btn{
    
    padding: 10px 20px;
    background-image:linear-gradient(to left,#f59a08e5,#f16508ed);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;

}

/* header section start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header .header-desc{
    width: 50%;
    padding: 0px 20px;
    
}
.header .header-desc .header-title{
    border-left: 5px solid;
    border-image:linear-gradient(#f59a08e5,#f16508ed);
    border-image-slice: 1;
    padding-left: 7px;
}
.header .header-desc h1{
    font-size: 37px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.header .header-desc p{
    padding: 17px 0px;
    line-height: 27px;
}
.header .header-desc a{
    display:inline-block;
    text-decoration: none;
    margin: 8px 0px;
}
.header .header-desc small{
    display: block;
    padding-top: 15px;
}
.header .img-div{
    width: 50%;
    padding: 0px 0px 0px 20px;
    
}
.header .img-div img{
    width: 100%;
}


/* header section start */

/* card section start */

.my-mission h1{
    font-size: 34px;
    text-align: center;
}
.my-mission .my-card{
    padding: 80px 0px;
   
}
.my-mission .my-card .mission-card{
    flex-basis: 30%;
    justify-content: flex-start;
    padding:10px 20px 30px 20px;
    cursor:pointer;
    border-radius: 15px;
    color: #fff;
    transition: 0.3s ease;
}
.my-mission .my-card .mission-card:hover{
    box-shadow: 10px 20px 40px rgba(0,0,0,0.3);
    margin-top: -15px;
}
.my-mission .my-card .mission-card h3{
    padding: 15px 0px;
    font-size: 16px;
}
.my-mission .my-card .mission-card p{
    line-height: 24px;
    font-size: 12px;
}
.my-mission .my-card .mission-card img{
    width: 100px;
}
.my-mission .my-card #card1{
    background: #9685bdea;
}
.my-mission .my-card #card2{
    background: #2a295fe1;
}
.my-mission .my-card #card3{
    background: #026890ea;
}
/* card section start */