
/* global style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
}
.global-padding{
    padding: 60px 90px;
}
.global-color{
    color: orange;
}
.normal-btn{
    
    padding: 10px 20px;
    background-image:linear-gradient(to left,#f59a08e5,#f16508ed);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;

}

/* header section start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header .header-desc{
    width: 50%;
    padding: 0px 20px;
    
}
.header .header-desc .header-title{
    border-left: 5px solid;
    border-image:linear-gradient(#f59a08e5,#f16508ed);
    border-image-slice: 1;
    padding-left: 7px;
}
.header .header-desc h1{
    font-size: 37px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.header .header-desc p{
    padding: 17px 0px;
    line-height: 27px;
}
.header .header-desc a{
    display:inline-block;
    text-decoration: none;
    margin: 8px 0px;
}
.header .header-desc small{
    display: block;
    padding-top: 15px;
}
.header .img-div{
    width: 50%;
    padding: 0px 0px 0px 20px;
    
}
.header .img-div img{
    width: 100%;
}


/* header section start */

/* card section start */

.my-mission h1{
    font-size: 34px;
    text-align: center;
}
.my-mission .my-card{
    padding: 60px 0px;
   
}
.my-mission .my-card .mission-card{
    flex-basis: 30%;
    justify-content: flex-start;
    padding:10px 20px 30px 20px;
    cursor:pointer;
    border-radius: 15px;
    color: #fff;
    transition: 0.3s ease;
}
.my-mission .my-card .mission-card:hover{
    box-shadow: 10px 20px 40px rgba(0,0,0,0.3);
    margin-top: -15px;
}
.my-mission .my-card .mission-card h3{
    padding: 15px 0px;
    font-size: 16px;
}
.my-mission .my-card .mission-card p{
    line-height: 24px;
    font-size: 12px;
}
.my-mission .my-card .mission-card img{
    width: 100px;
}
.my-mission .my-card #card1{
    background: #9685bdea;
}
.my-mission .my-card #card2{
    background: #2a295fe1;
}
.my-mission .my-card #card3{
    background: #026890ea;
}
/* card section start */

/*#main section start */
    #main-section{
        background-image: url(images/shapes/dream-bg.png);
        background-repeat: no-repeat;
        background-position:right;
        padding:35px 90px;
    }
    .main-section .main-img-section{
        display: flex;
        justify-content: space-between;
        

    }
    .main-section .main-img-section .img{
        width: 35%;
        
    }
    .main-section .main-img-section .img img{
        width: 100%;
    }
    .main-section .main-img-section .main-desc{
        width: 55%;
        padding:30px 0px 30px 10px;
    }
    .main-section .main-img-section .main-desc h3{
        padding: 7px 0;
        font-size: 25px ;
        font-weight: 800;
    }
    .main-section .main-img-section .main-desc h2{
        font-size: 28px;
        font-weight: 800;
        padding-bottom:10px;
    }
    .main-section .main-img-section .main-desc p{
        line-height: 24px;
    }
    .main-section .main-img-section .main-desc a{
        display: inline-block;
        text-decoration: none;
        margin-top: 20px;
        font-size: 13px;
    }
    /*#main section ends */

    /* community section start */
    #community-section{
        background-image: url(images/shapes/top-banner.png);
        background-repeat: no-repeat;
        background-position:cover;
        margin-top: 50px;
        
    }

    /* contact section start */

    .contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:rgba(220, 213, 245, 0.719);
        width: 100%;
    }
    .contact .contact-desc{
        width: 50%;
    }
    .contact .contact-desc h1{
        font-size: 36px;
        line-height: 3rem;
    }
    .contact .contact-desc p{
        padding-top: 20px;
        
    }
    .contact .message{
        width: 45%;
        /* margin-left: 80px; */
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        border: 2px solid #dbd8d8ed;
        border-radius: 10px;
        padding: 20px 30px;
       
    }
    .contact .message:hover{
        box-shadow: 10px 14px 50px rgba(0,0,0,0.3);
    }
    .contact .message h3,.contact .message h4{
        padding-bottom: 15px;
    }
    .contact .message input{
        width: 90%;
        padding: 7px 12px;
        margin-bottom: 20px;
        border: 1px solid rgb(219, 231, 245);
        border-radius: 10px;
        letter-spacing: 1px;
    }
    .contact .message input:focus,.contact .message textarea:focus{ 
        outline: none;
        border: 1px solid #79dbecd8;
    }
    .contact .message textarea{
        resize: none;
        border: none;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #fff;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .contact .message button{
        margin-top: 10px;
    }
    /* contact section ends */
    /* footer section start  */
    footer{
        background-color: #000;
        text-align: center;
        color: #fff;
        padding: 40px 0px;
    }
    footer h1{
        font-size: 23px;
        font-family: 'Lobster', cursive;
        padding-bottom: 10px;
    }
    footer h4{
        font-size: 14px;
        
        color: rgba(120, 151, 243, 0.459);
    }
    /* footer section ends  */
